* {
  padding: 0px;
  margin: 0px;
}

.Container {
  background-color:#1A1718;
  height: 60px; 
  /* overflow: hidden;
  position: fixed; */
  top: 0;
  width: 100%;
}

.NavBar {
  overflow: hidden;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.NavBar ul {
  display: block;
  text-align: center;
  float: initial;

}

.NavBar li {
  text-decoration: none;
  padding-top: 20px;
  font-weight: 600;
  font-size: 18px;
}